{% extends "layout_landing.html" %}
{% block body %}
<div class="page-header header-filter clear-filter" id="propuesta" data-parallax="active" style="background-image: url('/static/assets/img/bg0.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="brand">
          <h1>
            NEEM AI
            <div class="pro-badge align-left">
              AI
            </div>

          </h1>
          <h3 class="title"> 
            Soluciones Inteligencia Artificial (AI) para reconvertir carteras de clientes en la industrias de Seguro, Medios y Retail.</h3>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="main main-raised">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center"> <h3> Conoce RE>CONVERT, Sacris.cl y Sigur.cl </h3></div>
          <h4 class="description text-center"> Apalancando nuestra herramienta de inteligencia artificial y productos propietarios maximización de reconversión en campañas telefónicas y por correo para carteras de clientes de retail, seguros y medios.
            .</h4>
        </div>
      </div>

      <div class="features-1">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-rose">
                <i class="material-icons">apps</i>
              </div>
              <h4 class="info-title">RE>CONVERT</h4>
              <p> Análisis estadístico de audio e interacciones por correo para reconvertir clientes inactivos con nuestro servicio de contact center que maximizar su conversión durante su aplicación.  
                .</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">view_day</i>
              </div>
              <h4 class="info-title">Sacris.cl</h4>
              <p>Obtén una página optimizada para conversión y atiende a tus clientes con una herramienta de contacto automatizada. Utilizando nuestra tecnología propietaria 
                corregimos el proceso de compra de su ecommerce maximizando la conversión con inteligencia artifical.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">view_carousel</i>
              </div>
              <h4 class="info-title">Sigur.cl</h4>
              <p>88% de los cliente no contrata garantías extendidas y servicios de asistencia accidental de electrónica. Usando nuestra plataforma IA y una propuesta de prestación de servicio "on demand", reconvertimos a su cartera de clientes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-components">
    <div class="container" id="#soluciones">
      <div class="row">
        <div class="col-md-5">
          <h3 class="title"><a href="http://almiba.com">RE>CONVERT</a></h2>
          <h6 class="description">Tecnología propietaria aplicada Sacris.cl y Sigur.cl </h6>
          <h5 class="description">Nuestra herramienta analiza y corrige las campañas de venta telefónica y contacto por correo en la marcha, para maximizar la conversión utilizando inteligencia artificial.
          </h5>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="image-container">
            <img src="/static/assets/img/presentation/components.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section section-cards section-dark">
    <div class="container">
      <div class="row">

        <div class="col-md-7">
          <div class="image-container">
            <img class="img" src="/static/assets/assets-for-demo/cards-test.png"/>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-1">
          <div class="section-description">
            <h3 class="title"><a href="http://Sacris.cl" style="color:#999999;"> Sacris.cl</a></h2>
            <h6 class="description">Repensar tu página web</h6>
            <h5 class="description">Laging pages optimizado para la conversión. Elige tu web y publicala con propio dominio en una hora, con servicio chat y central telefónica online incluida. Maximiza tu conversión a partir de hoy! </h5>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="section section-content">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="section-description">
            <h3 class="title"> <a href="http://sigur.cl"> Sigur.cl </a></h2>
            <h6 class="description">Convierte clientes que no compraron garantías extendiadas</h6>
            <h5 class="description">Solución de e-commerce para ofrecer servicios de asistencia, garantías extendidas o seguros los clientes que no pudieron ser convertidos en la tienda con una propuesta de servicio "on demand". </h5>
          </div>
        </div>

        <div class="col-md-7 col-md-offset-1">
          <div class="image-container">
            <img class="img" src="/static/assets/assets-for-demo/content-test.png"/>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!--     *********    END FEATURES 5      *********      -->



  <!--     *********     FEATURES 5      *********      -->

  <div class="section section-overview">
    <div class="features-5"  style="background-image: url('/static/assets/assets-for-demo/features-5.jpg')">

      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Productos de software para impulsar tus ventas</h2>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-sm-4">
            <div class="info">
              <div class="icon">
                <i class="material-icons">view_day</i>
              </div>
              <h4 class="info-title">Inteligencia Artificial</h4>
              <p> Herramientas de AI para acelarar tu conversión, sin inversión inicial.</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="info">
              <div class="icon">
                <i class="material-icons">phonelink</i>
              </div>
              <h4 class="info-title">Implementación express</h4>
              <p>Solicita la implementación de campañas de reconversión desde nuestro propio contact center. </p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="info">
              <div class="icon">
                <i class="material-icons">access_time</i>
              </div>
              <h4 class="info-title">Soluciones, no productos</h4>
              <p>Verifica el aumento en la reconversión con métricas reales desde el primer día de la implementación. </p>
            </div>
          </div>

          
        </div>

      </div>
    </div>

    <div class="section-testimonials team-3" id="soluciones">

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="title"> Más de 254 clientes nos prefieren.</h2>
            <h5 class="description">RE>CONVERT, Sacris.cl y Sigur.cl son mejorados <b>cada mes</b> sin costo para <b>nuestros usuarios</b>. Esto es lo que nuestros clientes tienen para decir:</h5>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="col-md-3">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="/static/assets/assets-for-demo/test1.jpg" />
                  </a>
                </div>
              </div>
              <div class="col-md-9">
                <div class="content">
                  <h4 class="card-title"> Pablo Martinez </h4>

                  <p class="card-description">
                    "Almiba.com nos permite automatizar un proceso de verificación de pagos de nuestros clientes. Una actividad manual que antes realizabamos manualmente cientas de veces al mes, ahora es realizada en segundos con su aplicación."
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="col-md-3">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="/static/assets/assets-for-demo/test2.jpg" />
                  </a>
                </div>
              </div>
              <div class="col-md-9">
                <div class="content">
                  <h4 class="card-title">Marcos Merino</h4>

                  <p class="card-description">
                    "Sacris.cl cambia la mejor forma de presentar tu negocio! Cada uno de los diseños que presentan permiten maxmizar la conversión web y eso nos permite enfocarnos en crecer nuestra empresa."
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="col-md-3">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="/static/assets/assets-for-demo/test3.jpg" />
                  </a>
                </div>
              </div>
              <div class="col-md-9">
                <div class="content">
                  <h4 class="card-title">Michael Marinello</h4>

                  <p class="card-description">
                    "Sigur.cl es el servicio de asistencia accidental de smartphones que Hites ofrece en sus tiendas. A cambio de un pago mensual por equipo, Sigur se encarga de aplicar la garantía y gestionar la relación con nuestros clientes finales." </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="our-clients">
<!--            <div class="row">
            <div class="col-md-3">
              <img src="/static/assets/assets-for-demo/vodafone.jpg" alt="" />
            </div>
            <div class="col-md-3">
              <img src="/static/assets/assets-for-demo/microsoft.jpg" alt="" />
            </div>
            <div class="col-md-3">
              <img src="/static/assets/assets-for-demo/harvard.jpg" alt="" />
            </div>
            <div class="col-md-3">
              <img src="/static/assets/assets-for-demo/stanford.jpg" alt="" />
            </div>

          </div>
-->         </div>

      </div>
    </div>

  </div>
</div>

<div class="section section-pricing pricing-5" id="precios">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Conoce nuestras soluciones</h2>
        <ul class="nav nav-pills nav-pills-rose" role="tablist">
          <li class="active">
            <a href="#personal" role="tab" data-toggle="tab">
              Licencia individual
            </a>
          </li><!--
          <li>
            <a href="#commercial" role="tab" data-toggle="tab">
              Developer License
            </a>
          </li>-->
        </ul>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="tab-content tab-space">
          <div class="tab-pane fade in active" id="personal">
            <p class="description">
              Soluciones para problemas puntuales y urgentes, con hermoso diseño y sin curva de aprendizaje necesaria. Potencia tu negocio con alguna de nuestras aplicaciones a partir de hoy!
            </p>

            <div class="col-md-4">
              <div class="card card-pricing card-margin">
                <div class="content">
                  <h6 class="category">RE>CONVERT</h6>
                  <h1 class="card-title"><small>UF</small>0.6 agente/mes</h1>
                  <ul>
                    <li><b>Upselling</b> automatizado</li>
                    <li><b>Transcripción</b> llamados</li>
                    <li><b>Match</b> agente - cliente</li>
                    <li>Contratación<b> mensual</b></li>
                  </ul>
                  <a href="http://almiba.com" class="btn btn-rose btn-round">
                    Ver más
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-pricing">
                <div class="content">
                  <h6 class="category">Sacris.cl</h6>
                  <h1 class="card-title"><small>UF </small>2 /mes</h1>
                  <ul>
                    <li><b>Landing page</b> optimizada</li>
                    <li><b>En tu propio </b>dominio</li>
                    <li><b>Gestión de campañas </b> de correo</li>
                    <li><b>Incluye generación </b> informes</li>
                    <li>Contratacíón<b> mensual</b></li>
                  </ul>
                  <a href="http://Sacris.cl" class="btn btn-rose btn-round">
                    Ver más
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-pricing card-margin">
                <div class="content">
                  <h6 class="category">Sigur.cl</h6>
                  <h1 class="card-title"><small>UF </small>0.2 equipo/mes</h1>
                  <ul>
                    <li><b>Seguro</b> Adicionales</li>
                    <li><b>Inc. Servicio</b> Asistencia</li>
                    <li><b>Servicio</b> "On Demand"</li>
                    <li>Contratación<b> mensual</b></li>
                  </ul>
                  <a href="http://sigur.cl" class="btn btn-rose btn-round">
                    Ver más
                  </a>
                </div>
              </div>
            </div>


          </div>

          <div class="tab-pane fade" id="commercial">
            <p class="description">
              Good for business projects, multiple websites for clients or for creating themes where your users will be charged for using it. Create multiple websites/apps for multiple clients.
            </p>

            

        <!--  <div class="col-md-6">
              <div class="card card-pricing">
                <div class="content">
                  <h6 class="category">HTML & Photoshop Package</h6>
                  <h1 class="card-title"><small>$</small>599</h1>
                  <ul>
                    <li><b>HTML/CSS/JS/SASS</b> Files</li>
                    <li><b>Fully Coded</b> Components</li>
                    <li><b>Responive</b> Design</li>
                    <li>Product<b> Documentation</b></li>
                    <li><b>+ Photoshop</b> Files</b></li>
                    <li><b>+ Components</b> on Layers</li>
                  </ul>
                  <a href="http://www.creative-tim.com/buy/material-kit-pro?license=2&package=3" class="btn btn-rose btn-round">
                    Buy Now!
                  </a>
                </div>
              </div>
            </div>-->

          </div>
        </div>
      </div>

      <div class="col-md-8 col-md-offset-2 text-center">
        <p class="description">Servicio mensual <b>incluye mejoras y actualizaciones sin costo </b> y <b>servicio de asistencia</b> con cada licencia. Opcionalmente cuentas con <b>30 días</b> de prueba gratuita de la solución.</p>

      </div>



    </div>

  </div>
<!--
  <div class="social-line text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="title">Thank you for sharing!</h4>
        </div>
          <a href="#pablo" class="btn btn-twitter btn-round">
            <i class="fa fa-twitter"></i> Twitter
          </a>
          <a href="#pablo" class="btn btn-facebook btn-round">
            <i class="fa fa-facebook-square"></i> Facebook
          </a>
          <a href="#pablo" class="btn btn-google btn-round">
            <i class="fa fa-google-plus"></i> Google
          </a>
      </div>
    </div>
  </div>
-->

</div>

<div class="cd-section" id="contactus">

<!--     *********    CONTACT US 1     *********      -->

<div class="contactus-1 section-image" style="background-image: url('/static/assets/img/examples/city.jpg')">

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="title">Conócenos</h2>
        <h5 class="description">Contáctanos mediante el formulario o visítanos.</h5>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="material-icons">pin_drop</i>
          </div>
          <div class="description">
            <h4 class="info-title">Oficina</h4>
            <p> La Concepción 81, Oficina 706.<br>
              Santiago<br>
              Chile
            </p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="material-icons">phone</i>
          </div>
          <div class="description">
            <h4 class="info-title">Llámanos</h4>
            <p> Servicio cliente<br>
              +56 23 223 2314<br>
              Lun - Vie, 9:00-19:00
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-5 col-md-offset-2">
        <div class="card card-contact">
          <form role="form" id="contact-form" method="post">
            <div class="header header-raised header-primary text-center">
              <h4 class="card-title">Contacto</h4>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Nombre</label>
                    <input type="text" name="name" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Apellido</label>
                    <input type="text" name="name" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Email</label>
                <input type="email" name="email" class="form-control"/>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Mensaje</label>
                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsCheckboxes">
                      No soy un robot!
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary pull-right">Enviar</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}